{% extends 'base.html' %}
{% block content%}
<h1>Create A New Post for user{{id}}</h1>
<div class="container">

    <form action="/users/{{id}}/post/new" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea style="height: 100px" class="form-control" id="content" name="content">
            </textarea>
        </div>
        <button type="submit" class="btn btn-success">Add</button>
    </form>
</div>
{%endblock%}