{% extends 'base.html' %}
{% block content%}
<h1>Edit Post</h1>
<div class="container">
    <form class="mb-3" action="/posts/{{post.id}}/edit" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea style="height: 100px" class="form-control" id="content" name="content" value="{{post.content}}">
            </textarea>
        </div>
        <button type="submit" class="btn btn-success">submit edit</button>
    </form>
    <a href="/posts/{{post.id}}" class="btn btn-outline-secondary">Cancel</a>
</div>
{%endblock%}