{% extends 'base.html' %}
{% block content%}
<h1>Edit Post</h1>
<div class="container">
    <form class="mb-3" action="/posts/{{post.id}}/edit" method="POST">
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" id="title" name="title" value="{{post.title}}">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Content</label>
            <textarea style="height: 100px" class="form-control" id="content" name="content">{{post.content}}</textarea>
        </div>
        {% for id,name in tags%}
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" value="{{id}}" id="{{id}}" name="tags" {% if id in post_tags
                %} checked {% endif %}>
            <label class="form-check-label" for="{{id}}">{{name}}</label>
        </div>
        {% endfor%}
        <button type="submit" class="btn btn-success">submit edit</button>
    </form>
    <a href="/posts/{{post.id}}" class="btn btn-outline-secondary">Cancel</a>
</div>
{%endblock%}